html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
            font: 400 15px/1.8 Lato, sans-serif;
            color: black;
            
            
        }
        
        h3,
        h4 {
            margin: 10px 0 30px 0;
          
            font-size: 20px;
            color: #111;
        }
        
        .container {
            padding: 80px 120px;
        }
        
    .logo {
        height: 145px;
        padding: 5px;
        background-color: #9c0a0d;
        box-shadow: 5px 5px 11px black;
    }

       
             
        .list-group-item:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
        
        .list-group-item:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        
        .thumbnail {
            padding: 0 0 15px 0;
            border: none;
            border-radius: 0;
        }
        
        .thumbnail p {
            margin-top: 15px;
            color: #555;
        }
        
        .btn {
            padding: 10px 20px;
            background-color: #9c0a0d;
            color: #f1f1f1;
            border-radius: 0;
            transition: .2s;
        }
        
        .btn:hover,
        .btn:focus {
            border: 1px solid #333;
            background-color: #fff;
            color: #000;
        }
        
        #myNavbar {
                margin-top: 15px;
                border-color: none; 
            }
        
        .nav-tabs li a {
            color: #777;
        }
        
        .nav {
                background-color: #9c0a0d ;
            }
          
        .navbar {
            font-family: Lato, sans-serif;
            margin-bottom: 0;
            background-color: #9c0a0d !important;
            border: 0;
            font-size: 13px !important;
            height: 80px;
            box-shadow: 0px 2px 2px black;
       }
        
        .navbar li a,
        .navbar .navbar-brand {
            color: white !important;
        }
        
        .navbar-nav li a:hover {
            color: black !important;
        }
        
        .navbar-nav li.active a {
            color: #fff !important;
            background-color: #9c0a0d;
        }
        
        .navbar-default .navbar-toggle {
            border-color: transparent;
        }
        

        
        footer {
            background-color: #9c0a0d;
            color: #f5f5f5;
          bottom: 0;
            height: 88px;
        }
        
      
        
        .form-control {
            border-radius: 0;
        }
        
        textarea {
            resize: none;
        }

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

section#contact {
    margin-top: 105px;
    margin-bottom: 175px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: white;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
.gellary_bg_none img{
	width: 100%;
	height: 250px;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact .text-danger {
    color: #e74c3c;
}

.about_our_company{
    text-align: center;
}
.about_our_company h1{
    font-size: 25px;
}
.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #F99700;
    margin: 20px auto 20px;
}
.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'FontAwesome';
    content: "\f141";
    font-size: 20px;
    line-height: 1;
    color: #F99700;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #ffffff;
}

.soegefelt {
    margin-top: 8px;
    }

#produkter {
    margin-top: 25px;
    margin-bottom: 225px;
    }