@font-face {
    font-family: overskrift;
    src: url(../fonts/Champagne&Limousines.ttf);
}

.container{
    height: 600px;
    width: 500px;
    padding: 0px;
    display: inline-block;
    z-index: -1;
    position: absolute;
}

.baggrund{
    z-index: -1;
    position: absolute;
    box-shadow: 5px 5px 5px #888888; 
  
}

/* ballon */

.container2{
  width: 200px;
  height: 420px;
  padding: 10px;
  margin: 100px 50px; 0 0;
  display:inline-block;
    float: right;
}
.balloon {
   width:120px;
  height:145px;
  background:hsl(215,50%,65%);
  border-radius:80%;
  position:relative;
  box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
  margin:20px 30px;
  transition:transform 0.5s ease;
  z-index:10;
  animation:balloons 4s ease-in-out infinite;
  transform-origin:bottom center;
}

@keyframes balloons {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(-25px) rotate(4deg); }
}


.balloon:before {
  content:"▲";
  font-size:20px;
  color:hsl(215,30%,50%);
  display:block;
  text-align:center;
  width:100%;
  position:absolute;
  bottom:-20px;
  z-index:-100;
}

.balloon:after {
 display:inline-block; top:153px;
  position:absolute;
  height:250px;
  width:3px;
  margin:0 0 0 58px;
  content:"";
  background:rgba(0,0,0,0.2); 
}


.balloon div{
    text-align: center;
    padding-top: 50px;
}

.rabat{
    font-size: 30px;
    font-weight: bold;
}


/*Popcorn-maskine */

.popcorn figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    height: 200px;
    float: right;
    margin-right: 100px;
    margin-top: 220px;
    display: inline-block;

}
.popcorn figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/* Slush-ice */

.slush figure img{
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    height: 200px;
        float: right;
   
    margin-top: 220px;
    display: inline-block;

}

.slush figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/* Softice */

.softice figure img{
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    height: 200px;
    float: right;
    margin-top: 220px;
    display: inline-block;

}
    
.softice figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/* Modal-boxe */

#myModalsoft p{
    color: black;
    font-family: 'Century Gothic';

}
#myModalsoft .modal-body {
    background: url(../images/softice.jpg) no-repeat right;

}
.modal-title{
    color: black;
    font-family: overskrift;
    font-weight: bold;
    font-size: 36px;
}

#myModalslush .modal-body{
    background: url(../images/slushice.jpg) no-repeat right;
    
}

#myModalslush p{
    color: black;
    font-family: 'Century Gothic';
}

#myModalpop .modal-body{
    background: url(../images/popcorn.jpg) no-repeat right;
}

#myModalpop p{
    color: black;
    font-family: 'Century Gothic';
}
